.multi-post-container {
	max-width: 100%;
	margin: 0 auto;
}

.multi-post-container .single-post-home {
	display: flex;
	align-items: center;
	justify-content: space-around;
  flex-wrap: wrap;
}

.single-post-home {
  font-size: 29px;
  font-weight: 700;
  /* width: 60%;  */
  align-content: center;
  padding: 40px;
  margin: 30px auto;
  position: relative;
} 